<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div class = "main">
        <h1>Welcome,</h1>
        <h3>Enter a US Airbnb link below to see hidden information about your stay</h3>
        <form class="url-form">
            <input type="text" placeholder="Enter your Airbnb link" name="url-input">
            <button>Submit</button>
        </form>
        <picture>
            <img src = "/images/loading.gif" class = "loading hidden">
        </picture>
    </div>
    <div class = "searches">
    </div>

    <script src = "/scripts/index.js"></script>
    <script src = "/scripts/jquery-3.6.1.js"></script>
    <link rel="stylesheet" type="text/css" href="/styles/site.css" media="all">
</body>
</html>